{% extends "base.html" %}

{% block email %}

<div class="row rounded justify-content-center align-items-center bg-white shadow p-3" id="email_box">
    <div class="col">
        <form class="was-validated" method="post" action="/">
            <div class="form-group">
                <label for="basic-url" class="form-label">Enter Linkedin profile URL</label>
                <input type="text" class="form-control" id="basic-url" name="e-mail"
                    pattern="^https:\/\/www\.linkedin\.com\/in\/[a-z0-9-]+\/?"
                    placeholder="https://www.linkedin.com/in/satyanadella/" required>
                <button type="submit" class="btn btn-primary mt-3" id="btn_submit">Submit
                    <span class="spinner-grow spinner-grow-sm d-none" id='spinner' role="status"
                        aria-hidden="true"></span>
                    <span class="sr-only">Loading...</span>
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock email %}