<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Linkedin BioForge</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,100&family=Montserrat:wght@100&display=swap"
        rel="stylesheet">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-md-center border-bottom mb-3">
            <h2 class="display-3"> Linkedin BioForge </h2>
        </div>
        <div class="row rounded justify-content-center align-items-center bg-white shadow p-3" id="email_box">
            <div class="col">
                <form class="was-validated" method="post">
                    <label for="basic-url" class="form-label">Enter Linkedin profile URL</label>
                    <input type="text" class="form-control" id="basic-url" required
                        pattern="^https:\/\/www\.linkedin\.com\/in\/[a-z0-9-]+\/?"
                        placeholder="https://www.linkedin.com/in/satyanadella/" required>
                    <button type="submit" class="btn btn-primary mt-3" id="btn_submit">Submit
                        <span class="spinner-grow spinner-grow-sm d-none" id='spinner' role="status"
                            aria-hidden="true"></span>
                        <span class="sr-only">Loading...</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="row rounded justify-content-left align-items-center bg-white shadow p-3 mt-3 d-none"
            id="output_box">
            <label for="basic-url" class="form-label">Generated bio </label>
            <div class="input-group mb-3" style="height: 400px;">
                <input type="text" class="form-control" id="myText" value="Text to copy">
            </div>
        </div>
        <footer class="row py-3 my-3 border-top bg-transparent">
            <div class="col-md justify-content-start">
                <div class="mb-3 mb-md-0 text-white">Powered by ChatGPT</span>
                </div>
            </div>
            <div class="col-xs justify-content-end">
                <a rel="githubpage" href="https://github.com/LHFO94/linkedin_bio_generator"><ion-icon
                        name="logo-github"></ion-icon></a>
                <a rel="linkedin" href="https://www.linkedin.com/in/luuk-hofman-01164259/"><ion-icon
                        name="logo-linkedin"></ion-icon></a>
            </div>
        </footer>
    </div>
    <canvas class="background"></canvas>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
</body>
<script>
    // Select the button and the spinner elements
    const button = document.getElementById("btn_submit");
    const spinner = document.getElementById("spinner");
    const url = document.getElementById('basic_url');

    // Add a click event listener to the button
    button.addEventListener("click", function () {
        // button.innerText = 'Loading...'
        button.innerHTML = '<span class="spinner-grow spinner-grow-sm d-none" role="status" id="spinner" aria-hidden="true"></span>Loading...';
        button.disabled = true;
        document.getElementById('spinner').classList.remove('d-none');
    });

    window.onload = function () {
        Particles.init({
            selector: '.background',
            maxParticles: 250,
            connectParticles: true,
            color: '#FFFFFF',
        });
    };

    function copyText() {
        var copyText = document.getElementById("myText");
        copyText.select();
        document.execCommand("copy");
    }


</script>

</html>